body{
    font-family:'barlow';
    margin: 0%;
}
header{
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 0.4rem;
}
#brand{
    display: inline;
    font-size: 1.5rem;
}
nav{
    display: inline; 
    right: 2rem;
    position: absolute;
    top: 0.9rem;
}
ul.main-menu{
    display: inline;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding: 0%;
}

ul.main-menu li{
    display: inline;
    margin-left: 2rem;
}
ul.main-menu li a{
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: black;
}
a.selected{
    background-color: #65f1ff;
}
.message{
    max-width: 40%;
    font-size: 7vw;
    line-height: 85%;
    position: relative;
    margin: 6rem auto;
}
#ihope{
    text-align: left; 
}
#youenjoy{
    text-align: left;
}
#walk{
    text-align: center;
}

}