body{
    font-family:'barlow';
    margin: 0%;
}
header{
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 0.4rem;
}
a{
    text-decoration: none;
}
#brand{
    display: inline;
    font-size: 1.5rem;
    position:relative;
    left: 1.3rem;
    color: rgb(0, 0, 0);
}
nav{
    display: inline; 
    right: 2rem;
    position: absolute;
    top: 0.9rem;
   
}
/* AQUI ACABA EL HEADER */
ul.main-menu{
    display: inline;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    padding: 0%;
}
ul.main-menu li{
    display: inline;
    margin-left: 2rem;
}
ul.main-menu li a{
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: black;
}
a.selected{
    background-color: #65f1ff;
}
.message{
    max-width: 40%;
    font-size: 7vw;
    line-height: 85%;
    position: relative;
    margin: 6rem auto;
}
#ihope{
    text-align: left; 
}
#youenjoy{
    text-align: left;
}
#walk{
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.3rem;
    max-width: 90%;
    margin: auto;
    margin-bottom: 3rem;
  }
.gallery img{
    max-width: 33%;
}
.columna img {
    margin-top: 8px;
    vertical-align: top;
  }
  @media screen and (max-width: 1000px) {
    .gallery img {
      max-width: 49%;
    }
}
 @media screen and (max-width: 600px) {
     .gallery img {
       max-width: 100%;
     }
}
h1.project-tittle{
    width: 75%;
    position: relative;
    margin: 3rem auto 0.7rem;
    font-weight:lighter;
    font-size: 2rem;
}
p.project-description-1{
    border: 1px solid rgb(8, 92, 92);
    font-size: 1.3rem;
    margin: 0.7rem auto;
    width: 75%;
}
p.project-description-2{
    border: 5px solid black;
    font-size: 1.3rem;
    padding: 2rem;
}
div.doble-columna{
    border: 2px solid teal;
    width: 75%;
    position: 0 relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    div.columna-1 {
      max-width: 100%;
    }
    div.columna-2 {
        max-width: 100%;
      }
}
.columna-1{
    width: 50%;
}
.columna-2{
    width: 50%;
}
.image-project{
    width: 100%;
    
}
/* AQUI COMIENZA EL FOOTER */
footer{
    border-top: 3px solid rgb(0, 0, 0);
}
div.footer{
    margin: auto;
    width: 60%;
}
footer div div{
    vertical-align: top;
    text-align: center;
}
footer div div img{
    max-width: 2rem;
    margin: 0 0.5rem;
}